<div class="card">
  <h1 class="m-3">Add New friend</h1>
  <div class="card-body">
    <br/>
    <%= render "form", friend: @friend %>
  </div>
</div>

<br/>

<div>
  <%= link_to "Back", friends_path, class: "btn btn-secondary" %>
</div>
